<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="name" class="col-form-label col-sm-2">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="empleado.name" name="name" />
                </div>
            </div>

            <div class="form-group row">
                <label for="funcion" class="col-form-label col-sm-2">Funcion</label>
                <div class="col-sm-6">
                    <!-- <input type="text" class="form-control" [(ngModel)]="empleado.funcion" name="funcion" /> -->
                    <select class="form-control" [(ngModel)]="empleado.funcion" name="funcion">
                        <option value="Analisis">Analisis</option>
                        <option value="Diseño">Diseño</option>
                        <option value="Desarrollo">Desarrollo</option>
                        <option value="Monitoreo">Monitoreo</option>
                        <option value="Pruebas">Pruebas</option>
                      </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!empleado.id; else elseBlock">
            Crear
          </button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()">
              Editar
            </button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>